USE [WordBridgeDB]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 16/04/2026 8:10:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Username] [nvarchar](50) NOT NULL,
	[Word] [nvarchar](100) NOT NULL,
	[FavoriteDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[History]    Script Date: 16/04/2026 8:10:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Username] [nvarchar](50) NULL,
	[Word] [nvarchar](100) NULL,
	[LookupDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/04/2026 8:10:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL CONSTRAINT [DF__Users__Role__145C0A3F]  DEFAULT ('user'),
	[CreatedAt] [datetime] NULL CONSTRAINT [DF__Users__CreatedAt__15502E78]  DEFAULT (getdate()),
	[IsActive] [bit] NULL CONSTRAINT [DF__Users__IsActive__164452B1]  DEFAULT ((1)),
 CONSTRAINT [PK__Users__536C85E583C33EF3] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
